<?xml version="1.0" encoding="UTF-8"?>
<!-- DOCTYPE 문서유형으로 옆에 작성된 키워드로 문서 전체를 묶는다 -->
<!-- DTD : 유효성 검사 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration : 환경설정 -->
<configuration>
	<!-- 
		작성 순서 중요 
		properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, 
 		reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?
	-->
	
	<!-- settings : mybatis 구동 시 선언할 설정들을 작성하는 영역 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- 데이터가 null 값으로 전달되었을 때, 빈 값이 아닌 NULL로 설정 -->
	</settings>

	 <!--  
		typeAliases: vo, dto 객체들의 전체 클래스명을 단순한 클래스명으로 사용하기 위해 별칭을 등록할 수 잇는 영역
		* type 속성 : 전체클래스명
		* alias 속성 : 별칭(단순한 클래스명
	 -->
	<typeAliases>
		<typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="Member" />
	</typeAliases>
	<!-- environments : mybatis에서 연동할 DB 정보를 작성하는 영역 -->
	<environments default="develop">
		<!-- default 속성: 여러 개의 설정 중 기본 값에 대한 설정 -->
		
		<!-- environment : DB 정보 설정 영역 -->
		<environment id="develop">
			<!-- 
				transactionManager: 트랜잭션 처리에 대한 설정
					* type 속성 : JDBC | MANAGED
						- JDBC : 트랜잭션 처리를 직접 관리(수동커밋)
						- MANAGED : 트랜잭션 처리에 관여하지 않음(자동커밋)
			 -->
			<transactionManager type="JDBC" />
			
			<!-- 
				datasource : DB 정보를 하위요소 가지는 설정
								ConnectionPool 사용 여부 설정
				* type 속성 : POLLED | UNPool
					- POLLED : ConecctionaPool
					- UNPOLLED : ConecctionalPool 사용자 x
					
					=> ConnectionPool ? Connection 객체를 보관할 수 있는 영역
				  					  한번 생성된 Connection 객체를 담아두고 재사용
				
			 -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="C##MYBATIS" />
				<property name="password" value="MYBATIS" />
			</dataSource>
		</environment>
	</environments>
	 <!-- 
	 	mappers: 실행할 sql문을 저장한 매퍼 파일드을 등록하는 영역
	 		* resource 속성 : mapper 파일의 경로
	  -->
	 <mappers>
	 	<mapper resource="/mappers/member-mapper.xml" />
	 </mappers>
</configuration>